
-- Enable RLS and allow public read access for master data
ALTER TABLE public.pandals ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Public
Pandals
Read\ ON public.pandals FOR SELECT USING (true);

ALTER TABLE public.pandal_locations ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Locations
Read\ ON public.pandal_locations FOR SELECT USING (true);

ALTER TABLE public.pandal_images ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Images
Read\ ON public.pandal_images FOR SELECT USING (true);

ALTER TABLE public.zones ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Zones
Read\ ON public.zones FOR SELECT USING (true);

ALTER TABLE public.puja_seasons ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Seasons
Read\ ON public.puja_seasons FOR SELECT USING (true);

ALTER TABLE public.categories ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Categories
Read\ ON public.categories FOR SELECT USING (true);

ALTER TABLE public.tags ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Tags
Read\ ON public.tags FOR SELECT USING (true);

ALTER TABLE public.pandal_clusters ENABLE ROW LEVEL SECURITY;
CREATE POLICY \Public
Clusters
Read\ ON public.pandal_clusters FOR SELECT USING (true);

